NODE_ENV=development
MONGODB_URL=mongodb://localhost:27027/omni-index
MONGODB_DB=omni-index
FRONTEND_URL=http://127.0.0.1:3030
CALLBACK_URL=http://127.0.0.1:3030/api/oauth/callback
DANGEROUS_SKIP_IDENTITY_VERIFICATION=false
# Insert your bluesky did/handle
INIT_ADMIN_IDENTITY=pnpm.io
# This will be generated if empty. Provide your own, with something like `openssl rand -base64 32`
INIT_SESSION_SECRET=
# JSON file path or the URL to import data from
INIT_IMPORT_SOURCE=